 	
		  html { font-size: 100%; } /*20px*/

		.gappy 
		{
		  
			margin-top: 71px;  /* do not remove this, if removing then add 71px to margin-bottom i.e. 145+71 = 216px;   */
			
			margin-bottom: 145px;
			
		}
		
		.bg-blue 
		{
		   
			background-color : #0000FF;
			
		}
		
		.bg-red 
		{
		   
			background-color : #FF0000;
			
		}
		
		.bg-green 
		{
		   
			background-color : #00FF00;
			
		}
		
		.bg-yellow 
		{
		   
			background-color : #ffff00;
			
		}
		
		.h468
		{
		   
			height : 468px;
			
		}
		
		
		.h66 
		{
		   
			height : 66px;
			
		}
		
		.separator65 
		{
		   
			height : 65px;
			
		}
		
		
		.separator71 
		{
		   
			height : 71px;
			
		}
		
		
		.separator18
		{
		   
			height : 18px;
			
		}
		
		.separator41
		{
		   
			height : 41px;
			
		}
			
		.separator136
		{
		   
			height : 136px;
			
		}
		 
		
		.separator30
		{
		   
			height : 30px ;
			
		}
		
		
		.separator15
		{
		   
			height : 15px ;
			
		}
		
		
		.separator35
		{
		   
			height : 35px ;
			
		}
		
		
		.separator145 
		{
		   
			height : 145px;
			
		}
		
		.separator64 
		{
		   
			height : 64px;
			
		}
		
		.underlined 
		{
		   
			text-decoration : underline;
			
		}
		
		
		.fat 
		{
		   
			font-weight : bold;
			
		}
		
		.f-slight 
		{
		   
			font-family : Helvetica;
			
		}
		
		
	 	
		.lh-45
		{
		   
			line-height : 45px;
			
		}
			
		.f-26
		{
		   
			font-size : 26px;
			
		}
		.f-16
		{
		   
			font-size : 16px;
			
		}
			
		.f-18 
		{
		   
			font-size : 18px;
			
		}
			
		.f-18h
		{
		   
			font-size : 18.5px;
			
		}
			
			
		.f-17
		{
		   
			font-size : 17px;
			
		}
			
		.f-20
		{
		   
			font-size : 20px;
			
		}
			
			
			
		/* 
			
		.f-menu 
		{
		   
			font-size : 28px;
			
		}
			
			@media (max-width:1199.98px) {
				
				.f-menu 
				{
				   
					font-size : 3.2vw;
					
				}
					 
					
			} 	
	 				*/
			 
	 		
	 				
		
			.menu-icon-box {
			   display: flex;
			   align-items:center; 
			}

	 	  
		
		 /**************************/ 
		 /**************************/ 
		 /**************************/ 
		 /**************************/ 
		 		
	 				
	 				
	 				
		@media (min-width:300px) {
			


			.separator122
			{
			   
				height : 100px;
				
			}

			.separator127
			{
			   
				height : 118px;
				
			}
			.more {

				font-size: 18px;
				margin-top:30px; 
				margin-bottom:20px; 

			}
			

			.halfcookie-heading1 {

				font-size: 26px;
				
			}
			
			.halfcookie-heading2 {

				font-size: 18px;
				/* font-style: italic; */
				
			}
			
			.halfcookie-heading3 {

				font-size: 18px;
				
			}
			

			.f-tech-heading {

				font-size: 26px;
				
			}
			
			.f-remedial-heading {

				font-size: 26px;
				
			}
			
			
			.f-heading {

				font-size: 36px; 

			}
			
			#logo-small-edufruit {

				width: 130px; 

			}
			
			
			.f-menu  {

				font-size : 5vw;

			}

		
			.menu-icon-box {
				
			   margin-right : 10px; 
			   
			}
			


			/* .burger-icon {

				width : 70%;

			}


			.burger-text { 

				width : 30%;

			}

 */

			.f-box1-heading1 {

				font-size : 7vw; 
				margin-top: 20px;
			}

			.f-box1-heading2 {

				padding : 0px 10px 0px 10px;
				font-size: 22px;
				margin-top: 20px;
			}

			.f-box1-content {

				padding : 0px 8px  0px 8px;  
				text-overflow: ellipsis;
				margin-top: 20px;

				margin-top: 20px;
				font-size: 18px;
				line-height: 45px;
			}

		}
			
			
			
			
			
			
			
		@media (min-width:576px) {
			
			
				
			.separator122
			{
			   
				height : 122px;
				
			}
			
			
			
			.f-menu  {
				font-size : 3vw;
			}	
 
 
 
			.f-remedial-heading {

				font-size: 20px;
				
			}
			
 
 
 
			.menu-icon-box {
				
			   margin-right:40px; 
			   
			}
			
		}
 





		@media (min-width:768px) {
			.separator122
			{
			   
				height : 122px;
				
			}


			.f-menu  {
				font-size : 4vw;
			}
			
			/* 
			.burger-icon {
				width : 78%;
			}
			.burger-text {
				width : 22%;
			}
			 */
				
			.f-box1-heading1 {

				font-size: 3vw;
				margin-top: 15px;

			}
			 
			.f-box1-heading2 {

				padding : 0px 0px 0px 0px;
				font-size: 18px;
				margin-top: 40px;
			}

			.f-box1-content {

				padding : 0px 0px 0px 0px;   
				font-size: 12px;
				line-height: 35px;
				margin-top: 20px;

			}
 

		}




		@media (min-width:992px) {
			.separator122
			{
			   
				height : 122px;
				
			}
			.f-menu  {
				font-size : 3vw;
			}
			
			/* 
			.burger-icon {
				width : 82%;
			}
			.burger-text {
				width : 18%;
			} */
			
			.f-box1-heading1 {

				font-size: 2.5vw;
				margin-top: 15px;

			}
			 
			.f-box1-heading2 {

				padding : 0px 5px 0px 5px;
				font-size: 22px;
				margin-top: 40px;
			}

			.f-box1-content {

				padding : 0px 10px 0px 10px;   
				font-size: 15px;
				line-height: 45px;
				margin-top: 20px;
			}
 


			
		}

		@media (min-width:1200px) {
			
			
			
			.separator122
			{
			   
				height : 122px;
				
			}
			
			
			
			.text-separator122
			{
			   
				height : 82px;
				
			}
			
			
			
			.f-menu  {
				font-size : 1.5vw;
			}
/* 
			.burger-icon {
				width : 60%;
			}
			.burger-text {
				width : 13%;
			}
 */


			.f-heading {

				font-size: 48px; 

			}
			


			.more {

				font-size: 20px;
				margin-top:20px; 
				margin-bottom:20px; 

			}
			


			.f-box1-heading1 {

				font-size: 1.5vw;
				margin-top: 15px;

			}
			
			.f-box1-heading2 {

				padding : 0px 5px 0px 5px;
				font-size: 27px;
				margin-top: 40px;
			}

			.f-box1-content {

				 padding : 0px 30px 0px 30px;   
				 font-size: 18px;
				 line-height: 45px;
					margin-top: 20px;
			}





		}
		
			
	 				
	 	 		
	 	 
		
		 /**************************/ 
		 /**************************/ 
		 /**************************/ 
		 /**************************/ 
		 		
	 				
	 				
	 				
		@media (min-width:300px) {
			
			.f-brand  {
				font-size : 15vw;
			}
 
		}
			
		@media (min-width:576px) {
			
			.f-brand  {
				font-size : 23vw;
				 
			}
		}

		@media (min-width:768px) {
			
			.f-brand  {
					
				font-size : 24vw;
				padding-left : 18%;

			}
	 
			
			
		}

		@media (min-width:992px) {
			
			.f-brand  {
				font-size : 23vw;
				padding-left : 25%;

			}
			
			
		  
			
		}

		@media (min-width:1200px) {
			
			.f-brand  {
				
				font-size : 4.39vw;
				padding-left : 28%;

				
			}
 
		}
		
			
	 		
		 /**************************/ 
		 /**************************/ 
		 /**************************/ 
		 /**************************/ 
		 		
	 				 
	 				
	 				
	 				
		@media (min-width:300px) {
			
			.f-brand-cap  {
				font-size : 18vw; 
				margin-left: 15px;
				width: 100px;
		 
			}
 
		}
			
		@media (min-width:576px) {
			
			.f-brand-cap  {
				font-size : 23vw;
			}
		}

		@media (min-width:768px) {
			
			.f-brand-cap  {
				font-size : 24vw;
			}
	 
			
			
		}

		@media (min-width:992px) {
			
			.f-brand-cap  {
				font-size : 23vw;
			}
			
			
		  
			
		}

		@media (min-width:1200px) {
			
			.f-brand-cap  {
				font-size : 5vw;
			}
 
		}
		
			
	 		
		 /**************************/ 
		 /**************************/ 
		 /**************************/ 
		 /**************************/ 
		 		
	 				
	 				
	 					
	 	 
	 			

			
		.spacer
		{
		   
			 letter-spacing:0.2em; 
			
		}
		
		
	 
			/* ( No. of pixels = 4/3 * N pt) */
			/* 90pt - 120px */
			/* 72pt - 96px */
			/* 30pt - 40px */
			/* 24pt - 32px */
			/* 20pt - 26px */
			/* 18pt - 24px */
	 
		
			/* <div class="offset-sm-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 offset-sm-4 "> */
 